
<%= form_for(@question,:html => {:remote=>true,:class=>"hero-unit question-form"}) do |f| %>
  <% if @question.errors.any? %>
    <%  @question.errors.full_messages.each do |key, value| %>
      <div class="error"><%= key %> <%= value %></div>
    <%  end%>
  <% end %>

  <div class="row-fluid">  
    <div class="span12">
      <div class="label-form">Question</div>
      <%= f.text_field :name ,:class=>"span12 required",:placeholder=>"Question text"%>
    </div>
  </div>

  <div style="display:none">
    <%= f.text_field :survey_record_id %>
  </div>

  <div class="row-fluid">  
    <div class="span12">
      <div class="label-form">Question Order</div> 
      <%= f.text_field :record_order,:class=>"span12 input-small required",:placeholder=>"Order" %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <% if @question.survey_type_id.nil? %>
        <%= f.select :survey_type_id ,options_for_select(SurveyType.getTypeMap) %>
      <% else %>
        <%= f.select :survey_type_id ,options_for_select(SurveyType.getTypeMap,selected = @question.survey_type_id) %>
      <%end%>
    </div>
  </div>

  <div class="row-fluid">
    <%= f.submit @button_text ,:class=>"btn btn-info" %>
  </div>
<% end %>

<div id="answer_form"></div>

<script>
  $(".question-form").validate();
       
  $(".question-form").submit(function(){
         
    if($("#question_survey_type_id option:selected").text() == "Select Type"){
      alert("Please create new question type");
      return false;
    }
         
    return true;
  });
  
  
</script>