
<table class="table table-bordered">

<% @questions.each do |question| %>
  <% if question.nil? 
        next
     end   
  %>
  <tr>
    <td>
      <div class="span10">
        <%= question.name%>  
        <div class="label">
          <% if !question.survey_type.nil? %>
            <%=question.survey_type.type_name%>
          <%end%>
        </div>
        
      </div>
      <div class="span1"> 
        <%= link_to ' ', edit_question_path(question),:remote=>true,:class=>"icon-pencil pull-right" %>
      </div>
      <div class="span1">
        <%= link_to ' ', question, method: :delete, data: { confirm: 'All report entries will also be deleted with this question,
         Are you sure you want to delete '+question.name.to_s+' ?' },
          :remote=>true,:class=>"icon-remove pull-right" %>
      </div>
    </td>
  </tr>
  
<% end %>
</table>

