
<% if @question.nil? %>



<% else !@question.nil? %>  

  $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");
  $("#ques_form").html("<%=  escape_javascript(render(:partial => "questions/form"))%>");
  
  $(".question-form").validate();

  <% if !@success.nil? %>
    $("#successMessage").html("<%=@success%>");
    schedule_notification_hider();
  <%end%>

<%end%>

<% if !@error.nil? %>
  $("#errorMessage").html("<%=@error%>");
  schedule_notification_hider();
<%end%>
