
<% if @question.nil? %>



<% else !@question.nil? %>  

  <% need_option = @question.survey_type.need_option %>

  <% if need_option == true %>

    $("#answer_form").html("<%= escape_javascript(render(:partial => "answers/form")) %>")
    $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");

  <%else%>

    $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");

  <%end%>
    $("#ques_form").html("<%=  escape_javascript(render(:partial => "questions/form"))%>");
<%end%>