<h1>Listing questions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th>Record order</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.name %></td>
    <td><%= question.id %></td>
    <td><%= question.record_order %></td>
    <td><%= question.survey_type.type_name %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
