
<% if @question.nil? %>

  

<% else !@question.nil? %>  

     $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");
     $("#ques_form").html("<%=  escape_javascript(render(:partial => "questions/form"))%>");
     $(".question-form").validate();
     
  
<%end%>