<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @question.name %>
</p>

<p>
  <b>Id:</b>
  <%= @question.id %>
</p>

<p>
  <b>Survey record:</b>
  <%= @question.survey_record_id %>
</p>

<p>
  <b>Record order:</b>
  <%= @question.record_order %>
</p>

<p>
  <b>Type:</b>
  <%= @question.survey_type_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
