
<% if @updateQuestion.nil? %>

<% else !@updateQuestion.nil? %>  

<% need_option = @updateQuestion.survey_type.need_option %>
  
  <% if need_option == true %>
    
    $("#answer_form").html("<%= escape_javascript(render(:partial => "answers/form")) %>")
    $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");
    
  <%else%>

    $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");

  <%end%>
     $("#ques_form").html("<%=  escape_javascript(render(:partial => "questions/form"))%>");
     $(".question-form").validate();
     
  
<%end%>