<%= form_for(@survey_type) do |f| %>
  <% if @survey_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_type.errors.count, "error") %> prohibited this survey_type from being saved:</h2>

      <ul>
      <% @survey_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_name %><br />
    <%= f.text_field :type_name %>
  </div>
  <div class="field">
    <%= f.label :need_option %><br />
    <%= f.check_box :need_option %>
  </div>
  <div class="field">
    <%= f.label :type_for %><br />
    <%= f.text_field :type_for %>
  </div>
  <div class="field">
    <%= f.label :type_data %><br />
    <%= f.text_field :type_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
