<h1>Listing survey_types</h1>

<table>
  <tr>
    <th>Type name</th>
    <th>Need option</th>
    <th>Type for</th>
    <th>Type data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @survey_types.each do |survey_type| %>
  <tr>
    <td><%= survey_type.type_name %></td>
    <td><%= survey_type.need_option %></td>
    <td><%= survey_type.type_for %></td>
    <td><%= survey_type.type_data %></td>
    <td><%= link_to 'Show', survey_type %></td>
    <td><%= link_to 'Edit', edit_survey_type_path(survey_type) %></td>
    <td><%= link_to 'Destroy', survey_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey type', new_survey_type_path %>
