<p id="notice"><%= notice %></p>

<p>
  <b>Type name:</b>
  <%= @survey_type.type_name %>
</p>

<p>
  <b>Need option:</b>
  <%= @survey_type.need_option %>
</p>

<p>
  <b>Type for:</b>
  <%= @survey_type.type_for %>
</p>

<p>
  <b>Type data:</b>
  <%= @survey_type.type_data %>
</p>


<%= link_to 'Edit', edit_survey_type_path(@survey_type) %> |
<%= link_to 'Back', survey_types_path %>
