
<%= form_for(resource, :as => resource_name,:html=>{:class=>"padding1"},
  :url => registration_path(resource_name)) do |f| %>
 <% if devise_error_messages! != ""
              devise_error_messages!.each do |key, value| %>
                  <div class="flash <%= key %>"><%= key %> <%= value %></div>
          <%  end
             end %>

  <%= f.email_field :email,:placeholder=>"Email Address", :autofocus => true,:class=>"marginTop1" %>

  <%= f.password_field :password, :placeholder=>"Password",:class=>"marginTop1" %>

  <%= f.password_field :password_confirmation,:placeholder=>"Confirm Password",:class=>"marginTop1" %>

  <%= f.submit "Sign up",:class=>"btn btn-primary" %>
<% end %>

