<%= form_for(@submission_entry) do |f| %>
  <% if @submission_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_entry.errors.count, "error") %> prohibited this submission_entry from being saved:</h2>

      <ul>
      <% @submission_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submission_id %><br />
    <%= f.number_field :submission_id %>
  </div>
  <div class="field">
    <%= f.label :questions_id %><br />
    <%= f.number_field :questions_id %>
  </div>
  <div class="field">
    <%= f.label :answer_value %><br />
    <%= f.text_area :answer_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
