<h1>Listing submission_entries</h1>

<table>
  <tr>
    <th>Submission</th>
    <th>Questions</th>
    <th>Answer value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submission_entries.each do |submission_entry| %>
  <tr>
    <td><%= submission_entry.submission_id %></td>
    <td><%= submission_entry.questions_id %></td>
    <td><%= submission_entry.answer_value %></td>
    <td><%= link_to 'Show', submission_entry %></td>
    <td><%= link_to 'Edit', edit_submission_entry_path(submission_entry) %></td>
    <td><%= link_to 'Destroy', submission_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission entry', new_submission_entry_path %>
