<p id="notice"><%= notice %></p>

<p>
  <b>Submission:</b>
  <%= @submission_entry.submission_id %>
</p>

<p>
  <b>Questions:</b>
  <%= @submission_entry.questions_id %>
</p>

<p>
  <b>Answer value:</b>
  <%= @submission_entry.answer_value %>
</p>


<%= link_to 'Edit', edit_submission_entry_path(@submission_entry) %> |
<%= link_to 'Back', submission_entries_path %>
