
<%= form_for(@survey_record,:html=>{:class=>"form-horizontal survey-form"},:remote=>true) do |f| %>
  <% if @survey_record.errors.any? %>
       <%  @survey_record.errors.full_messages.each do |key, value| %>
                  <div class="error"><%= key %> <%= value %></div>
          <%  end%>
    <% end %>

  <fieldset>  
    <div class="control-group">
      <div class="label-form">Survey Heading</div>         
      <%= f.text_field :name,:class=>"span12 required",:placeholder=>"Survey Heading" %>
    </div>

    <div class="control-group">
      <div class="label-form">Survey Description</div>   
      <%= f.text_area  :description,:rows=>"4", :cols=>"50",:class=>"span12 required",:placeholder=>"Survey Description" %>

    </div>

    <div class="control-group">          
      <div class="label-form">URL to display survey e.g. "example" will create survey-fy.herokuapp.com/example</div>         
      <%= f.text_field :url, :class=>"span12",:placeholder=>"URL to assign, default -- Survey Title" %>
    </div>
    
    <div class="control-group">     
      <div class="label-form">Message on submission</div>       
      <%= f.text_field :message,:class=>"span12 required",:placeholder=>"Message to be displayed after submitting survey"%>
     </div>
    
    <div class="control-group">      
      
      <div class="label-form width220">Survey Status</div>
      <% if @survey_record.status.nil? %>
        <% status = SurveyRecord::STATUS_UNPUB  %>
      <%else%>
        <% status = @survey_record.status  %>
      <%end%>
      
      <%= f.select :status ,options_for_select(SurveyRecord.getStatusMap,selected = status) %>
    </div>
    
    <div class="control-group">
      <% if !@survey_record.name.nil? %>
        <%= f.submit "Update Survey" ,:class=>"btn btn-primary" %>
      <%else%>
        <%= f.submit "Create Survey" ,:class=>"btn btn-primary" %>
      <%end%>
    </div>
  </fieldset>
<% end %>

<script>
  $(".survey-form").validate();
  
</script>