

<% if !@survey_record.id.nil? %>
  document.location.href = "/survey_records/"+"<%=@survey_record.id.to_s%>"+"/edit";
  <% else %>
  
   <% firstMessage = @survey_record.errors.full_messages[0]%>
       $("#errorMessage").html("<%=firstMessage%>");
       schedule_notification_hider();
   
<%end%>
