<div class="row-fluid generic-heading">
  <div class="container">
    <h3 class="span5" style="margin-top:0;margin-bottom:0">Edit Survey
      <div class="label moveUp5" id="lable_status">
          <%=@survey_record.status%>
        </div></h3>
    <div class="span7">
      <ul class="horizontal-list pull-right marginTop3">
        <li><%= link_to ' ', new_survey_record_path,:method=>"get",:class=>"icon-custom-add icon-big", :title=>"Create New Survey" %>
        </li>
        <li>
           <%= link_to ' ', @survey_record, method: :delete, data: { confirm: 'Are you sure to delete'+ @survey_record.name+'?' },:class=>"icon-custom-delete icon-big" %>
        </li>
        <li><%= link_to ' ', survey_records_path, :class=>"icon-custom-list icon-big", :title=>"Show all Existing Surveys" %>  </li>
      </ul>
    </div>
  </div>
</div>



<div class="container">
  
  <div class="row-fluid">

    <%= render 'form' %>

  </div>
  <hr class="divider">
  <h4>Questions</h4>
  
<div class="row-fluid">
  <div class="span7" id="all_ques">
    <%= render(:partial => "questions/index")%>
  </div>
  <div class="span5" id="ques_form">
    <%= render "questions/form" %>
  </div>

</div>
  
</div>

<script>
      
   
</script>