
<div class="row-fluid generic-heading">
  <div class="container">
    <h3 class="span5">Existing Survey</h3>
    <div class="span7">
      <ul class="horizontal-list pull-right">
        <li>
          <%= link_to "New Survey Record", new_survey_record_path, :class=>'btn btn-medium btn-info', :title=>"Create New Survey" %>
        </li>      			      				 			      			
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <table class="table-bordered table">
    <% @survey_records.each do |survey_record| %>
      <tr>
        <td class="span9">
             <% if survey_record.url.nil? || survey_record.url == "" %>
              <%    url = survey_record.name
                else 
                    url = survey_record.url%>
              <% end%>
             <a href=<%="/"+url%> title="<%=survey_record.name%>">
              <%= survey_record.name %> at <em class="lightGray"><%=url%></em>   
             </a>
          <% if survey_record.status == "published" %>
          <div class="label-success label">P</div>
          <%else%>
            <div class="label-warning label">U</div>
          <%end%>
        </td>
        <td class="span1 text-center">
          <%= link_to " ", edit_survey_record_path(survey_record),:class=>'icon-pencil', :title=>"Edit Survey" %>
        </td>
        <td class="span1 text-center">
            <%=link_to " ",submissions_path(:survey_id=>survey_record.id),
            :class=>"icon-eye-open", :title=>"Show Survey" %>
        </td>
        <td class="span1 text-center">
          <%= link_to ' ', survey_record, method: :delete, data: { confirm: 'All Reports linked with this survey will also be deleted , Are you sure to delete '+survey_record.name+'?' },
            :class=>"icon-trash" , :title=>"Delete Survey"%>
        </td>

      </tr>

    <% end %>

  </table>
  <hr>

