<div class="row-fluid generic-heading">
  <div class="container">
	<h3 class="span5">Create New Survey</h3>
    <div class="span7">
      <ul class="horizontal-list pull-right">
        <li>
          <%= link_to ' ', survey_records_path, :class=>'icon-custom-list icon-big', :title=>"Show all existing surveys" %>
        </li>      			      				 			      			
      </ul>
    </div>
    
  </div>   
</div>

  <div class="container">
    <%= render 'form' %>    
   </div>


