<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey_record.name %>
</p>

<p>
  <b>Description:</b>
  <%= @survey_record.description %>
</p>

<p>
  <b>Url:</b>
  <%= @survey_record.url %>
</p>

<p>
  <b>Message:</b>
  <%= @survey_record.message %>
</p>


<%= link_to 'Edit', edit_survey_record_path(@survey_record) %> |
<%= link_to 'Back', survey_records_path %>
