<% if @survey_record.nil? %>

  

<% else !@survey_record.nil? %>  

    $("#all_ques").html("<%=  escape_javascript(render(:partial => "questions/index"))%>");
    $("#lable_status").html("<%= @survey_record.status %>");
  
<%end%>
    
    <% if !@error.nil? %>
      $("#errorMessage").html("<%=@error%>");
      

    <% end %>
      
    <% if !@success.nil? %>  
      $("#successMessage").html("<%=@success%>");
    <%end%>  
      
      schedule_notification_hider();