<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">        
    <p>This is a template for a simple marketing or informational survey.</p>
  </div>

  <!-- Example row of columns -->
  <div class="row-fluid">

    <table class="table-bordered table">
      <thead>
        <tr><th>Existing Surveys</th></tr>
      </thead>
      
      <% @allSurveys.each do |survey| %>
      <tr>
        <td>
          <% if survey.url.nil? || survey.url == "" %>
          <%    url = survey.name
             else 
                url = survey.url%>
          <% end%>
           <a href=<%="/"+url%>>
              <%= survey.name %>
           </a>
        </td>
      </tr>
      <%end%>
      
    </table>

  </div>
  <hr>