<div class="row-fluid generic-heading">
  <div class="container">
    <h3 class="span5"><%=@survey_record.name%></h3>
    <div class="span7">
      <ul class="horizontal-list pull-right">
        <li>
         <a href="/" class="icon-custom-list icon-big" title="List All Surveys"> </a>
        </li>      			      				 			      			
      </ul>
    </div>
  </div>
</div>

<div class="container">
<%=  form_for(@submission,:html=>{:class => "well submission-form"}) do |f|  %> 
  <% @survey_record.questions.each do |question| %>
    
    <div class="control-group">
    <label>
      <%=question.record_order%>. <%= question.name %> 
    </label>
  
    <% if question.survey_type.type_data == "text" %>
      <%=  text_area_tag "question["+question.id.to_s+"]", nil,  :class=>"span8 required" %>
    <% elsif question.survey_type.type_data == "number" %>    
      <%= text_field_tag "question["+question.id.to_s+"]", nil, :class=>"input-xlarge number required"%>
    <% elsif question.survey_type.type_data == "date" %>
      <%= text_field_tag "question["+question.id.to_s+"]", nil , :class=>"datepicker required"%>
    <% elsif question.survey_type.need_option == true %>
      <% question.answers.each do |answer| %>
      
      <%  end%>
    <%end%>
  <%end%>
  
  </div>
   <%=text_field_tag :survey_record_id , "",:value=>@survey_record.id,:type=>'hidden' %>


    <div class="row-fluid">		
     <%= f.submit 'Submit' , :class => 'btn-medium btn btn-primary' %>
    </div>  
<%end%>
  
  <hr>
  
  <script>
    $('.datepicker').datepicker({
      format: "dd-mm-yyyy"
    });
    
    $(".submission-form").validate();
  </script>