<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :qusestion_id %><br />
    <%= f.number_field :qusestion_id %>
  </div>
  <div class="field">
    <%= f.label :record_order %><br />
    <%= f.number_field :record_order %>
  </div>
  <div class="field">
    <%= f.label :marks %><br />
    <%= f.number_field :marks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
