<h1>Listing answers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Qusestion</th>
    <th>Record order</th>
    <th>Marks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.name %></td>
    <td><%= answer.qusestion_id %></td>
    <td><%= answer.record_order %></td>
    <td><%= answer.marks %></td>
    <td><%= link_to 'Show', answer %></td>
    <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
    <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_answer_path %>
