<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @answer.name %>
</p>

<p>
  <b>Qusestion:</b>
  <%= @answer.qusestion_id %>
</p>

<p>
  <b>Record order:</b>
  <%= @answer.record_order %>
</p>

<p>
  <b>Marks:</b>
  <%= @answer.marks %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
