<%= form_for(@submission) do |f| %>
   <% if @submission.errors.any? %>
       <%  @submission.errors.full_messages.each do |key, value| %>
                  <div class="error"><%= key %> <%= value %></div>
          <%  end%>
    <% end %>

  <div class="field">
    <%= f.label :survey_record_id %><br />
    <%= f.number_field :survey_record_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :attempt_time %><br />
    <%= f.number_field :attempt_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
