
<div class="row-fluid generic-heading">
  <div class="container">
    <h3 class="span5">Survey Report</h3>
    <div class="span7">
      <ul class="horizontal-list pull-right marginTop3">
        <%#*<li><button class="btn btn-primary">Export to excel</button>   </li>%>      			      		
        <li>
          <%= link_to " ",new_survey_record_path,:class=>"icon-custom-add icon-big", :title=>"Create New Survey" %>
        </li>      		
        <li>
          <%= link_to " ", edit_survey_record_path(@survey_record),:class=>'icon-custom-pencil icon-big', :title=>"Edit Survey" %>
        </li>
        <li>
          <%= link_to ' ', survey_records_path, :class=>'icon-custom-list icon-big', :title=>"Show all Existing Surveys" %>
        </li>      			 			      			
      </ul>
    </div>
  </div>
</div>



<div class="container" style="width:1000px;overflow:auto;">      
  <table class="table table-bordered survey-review-report" style="width:1000px;margin:0 auto">
    <% if @submissions.nil? || @submissions.empty? %>
    <tr> 
      <td> Sorry No Submissions For this survey to display</td>
    </tr>
    <%else%>
    <tr>
      <th style="width:150px">Username</th>
      <% @sortedQuestions.each do |eachQuestion| %>
        <th> <%=eachQuestion.name%></th>
      <%end%>
        <th> Delete Entry</th>
    </tr>

    <% 
    @submissions.each do |submission| %>
      <% if submission.submission_entries.nil? || submission.submission_entries.empty? 
             next
      end%>
      <tr>
        <td class="ellipsis">
          <%= submission.user.email %>
        </td>
        <%  
        entryMap = @ques_ans_map[submission.id]
        entryMap.each do |key,value| %>
              <td><%= value %></td>
        <%end%>
           <td><%= link_to ' ', submission, method: :delete, data: { confirm: 'Are you sure?'},
          :class=>"icon-remove pull-right" %>   </td>
      </tr>

    <% end %>
      
  <% end %>
      
  </table>
  
        <%= will_paginate @submissions %>

      
</div>
<hr class="divider">

