
<%= form_for(resource, :as => resource_name,:html=>{:class=>"padding1"},
  :url => session_path(resource_name)) do |f| %>

  <%= f.email_field :email, :style=>"margin-top: 8px",:placeholder=>"Username",:autofocus => true %>
  <%= f.password_field :password,:style=>"margin-top: 8px",:placeholder=>"Password" %>
  <%= f.submit "Sign in",:class=>"btn btn-primary" %>
  
<%end%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>






