<!DOCTYPE html>
<html>
  <head>
    <title>CustomSurveyApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <script>
      function schedule_notification_hider() {
        $("#notification-bar").css("display","block");
        
        if ($("#errorMessage").text() != ""){
          $("#errorMessage").css("display","block");
        }else{
          if ($("#successMessage").text() != ""){
            $("#successMessage").css("display","block");
          }
        }
        
        setTimeout("$('#notification-bar').fadeOut('slow');", 5000);
      }
    </script>
 
    <div class="navbar navbar-inverse navbar-fixed-top">
      
      <div id='notification-bar' style="display:none">
        <div id="errorMessage" class="alert alert-error" style="display: none"></div> 
        <div id="successMessage" class="alert alert-success" style="display: none"><div>
            
          <% unless notice.nil? %>
            <div id="notice" class="row-fluid alert alert-success">
              <p style="color: black"><%= notice %></p>
            </div>

            <script>schedule_notification_hider();</script>
          <% end %>
          <% unless alert.nil? %>
            <div id="notice" class="row-fluid alert alert-success">
              <p style="color: black"><%= alert %></p>
            </div>
            <script>schedule_notification_hider();</script>
          <% end %>
          <p><%=  @error %></p>
          <% unless @error.nil? %>
            <div id="notice" class="row-fluid alert alert-error">
              <p style="color: black"><%= @error %></p>
            </div>
            <script>schedule_notification_hider();</script>
          <% end %>
        </div>
      </div>
      </div>
      
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Survey</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">

              <% if user_signed_in? %>

                <span class="whiteColor"><%= link_to current_user.email,
                    edit_user_registration_path(current_user),:class=>"btn" %></span>	
                <span> | </span>

                <%= link_to "Logout", destroy_user_session_path, 
                  :method => :delete, data: { confirm: 'Are you sure to logout?' },:class=>"btn btn-primary" %>

              <%else%>
                <li class="dropdown" id="create-account">
                  <a id="toggle-reg" class="dropdown-toggle" data-toggle="dropdown" href="#create-account">
                    Sign Up for free
                    <b class="caret"></b>
                  </a>
                  <div class="dropdown-menu">
                    <%= render :template =>"/devise/registrations/new" %>
                  </div>
                </li>

                <li class="dropdown" id="login-form">

                  <a id="toggle-new" class="dropdown-toggle" data-toggle="dropdown" href="#login-form">
                    Login
                    <b class="caret"></b>
                  </a>
                  <div class="dropdown-menu">
                    <%= render :template=>"/devise/sessions/new" %>
                  </div>
                </li>
              <%end%> 

            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <%= yield %>

    <footer>
      <p>&copy; <a href="http://www.itlero.in">itlero 2013</a></p>
    </footer>

    <script>
      
      $(function() {
  
        // Fix input element click problem
        $('.dropdown input, .dropdown label').click(function(e) {
          e.stopPropagation();
        }); 
      });
    </script>

  </body>
</html>
